<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Olimpica</title>
</head>
	<link rel="stylesheet" href="../css/style.css">
<body>
	<div class="container">
		<img src="../img/olimpica_logo.png" alt="Logo Olímpica" class="logo" >
		<header>
			<nav class="menu">
				<ul>
					<li><a href="../index.html"><img src="../img/boton_inicio.png" width="100" height="100"></a></li>
					<li><a href="#"><img src="../img/boton_productos.png" width="100" height="100"></a></li>
					<li><a href="../view/servicios.html"><img src="../img/boton_servicio.png" width="100" height="100"></a></li>
					<li><a href="../view/contactos.html"><img src="../img/boton_contactos.png" width="100" height="100"></a></li>
				</ul>
			</nav>
		</header>
		<main>	
			<img src="../img/producto.jpeg" alt="imagen de productos">
			<div class="main_principal">
				<h1>Olímpica como empresa ofrece productos como:</h1>
				<p>🛒 Supermercado: alimentos frescos, víveres, bebidas, productos de aseo y limpieza para el hogar.<br>
				💊 Farmacia: medicamentos, suplementos, productos de cuidado personal y de salud.<br>
				🎶 Electrodomésticos y tecnología: televisores, equipos de sonido, celulares, computadores y accesorios.<br>
				👕 Moda y hogar: ropa, calzado, artículos de decoración, muebles y utensilios domésticos.<br>
				🎁 Ofertas y marcas propias: productos exclusivos de la marca Olímpica, con precios competitivos y promociones frecuentes.</p>
			</div>
		</main>

		<footer class="bottom">
			<p>Página web realizada por Calletana López Baleta © 2024</p>
			<div class="social">
			<a href="https://web.facebook.com/SupertiendaOlimpica/?_rdc=1&_rdr#"><img src="../img/boton_facebook.png" alt="Facebook"></a>
			<a href="https://www.instagram.com/supertiendasolimpica/"><img src="../img/boton_instagram.png" alt="Instagram"></a>
			<a href="https://www.linkedin.com/company/supertiendas-ol%C3%ADmpica/?originalSubdomain=co"><img src="../img/boton_linkedin.png" alt="LinkedIn"></a>
			</div>
		</footer>
	</div>
</body>
</html>